<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>Sobre</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        {{>header}}
        <div class="container">
            <p>Esse site usa as API mapbox e weatherstack pra pegar a previsão do tempo da sua cidade</p>
            <p><br>Logo a baixo uma foto aleatório da arena do grêmio pq s</p>
            <img src="/img/gremio.jpg"/>
        </div>
        {{>footer}}
    </body>
</html>