<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>Sobre</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        {{>header}}
        <div class="container">
            <p>{{parag}}</p>
            <img src="/img/gremio.jpg"/>
        </div>
        {{>footer}}
    </body>
</html>