<!DOCTYPE html>
<html>
    <head>
        <title>Inicio</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        {{>header}}
        <div class="container">
            <p>Pesquise a previsão do tempo da sua cidade</p>
            <form style="margin:20px 0px">
                <input type="text" placeholder="Localização"/>
                <button>Procurar</button>
            </form>
            <p id="result"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>