*{margin: 0px;
    font-family: arial;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    color:grey
}

img{
    height:auto;
    width:100%
}
.container{
    flex-grow: 1;
    width:500px;
    margin: 0 auto;
}
header{
    
    margin-bottom: 40px;
    padding: 10px;
    background-color: rgb(0, 110, 255);
}
footer{
    width:500px;
    margin: 10px auto;
    padding: 10px;
    color: grey;
    border-top: 1px solid rgb(179, 179, 179);
}
.title{
    color: white;
    padding-bottom: 15px;
    font-size: 35px
}
header a{
    margin-right: 10px;
    color: rgb(153, 197, 255);
    font-style: normal;
    text-decoration: none;
}

input{
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
}
input:focus{
    border-color: red;
}
button{
    color:white;
    padding: 10px;
    background-color: rgb(0, 110, 255);
    border: 0px ;
    border-radius: 20px;
    cursor: pointer;
}